.swiper {
  padding: 0 78px;
  height: 100%;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 14px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 14px)
  ) !important;
}
