.swiper {
  padding: 0 78px;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  margin: -10px var(--swiper-pagination-bullet-horizontal-gap, 8px) !important;
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 14px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 14px)
  ) !important;
}

@media screen and (max-width: 1600px) {
  .swiper {
    padding: 0 40px;
  }
  .swiper-button-prev {
    left: 0 !important;
  }
  .swiper-button-next {
    right: 0 !important;
  }
}
@media screen and (max-width: 460px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 24px !important;
    height: 26px !important;
  }
}
