/* fade in*/

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
  animation: slide-fade-in-dropdown-animation 0.4s ease;
}

/*fade out*/

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20%);
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}
